body {
  background: $darkColor;
  color: $lightColor;
  -ms-overflow-style: none;
  scrollbar-width:    none;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

section {
  scroll-snap-align: start;
  max-width: 90%;
  margin: 0 auto;
}