@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@keyframes textAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes buttonIdle {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-25);
  }
}
@keyframes menuOnLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html * {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(180deg, #09080a 0%, #0d4371 100%);
  color: white;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  scroll-snap-type: y mandatory;
  scroll-snap-points-y: repeat(100vh);
}

section {
  scroll-snap-align: start;
  max-width: 90%;
  margin: 0 auto;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: white;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.landing {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.landing__header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}

.landing__header {
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  text-anchor: middle;
  text-transform: uppercase;
  stroke-width: 2;
  stroke: url(#gradient);
  fill: none;
  opacity: 0;
  animation: textAppear 2s forwards;
  pointer-events: none;
  user-select: none;
}

.landing__subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: white;
  opacity: 0;
  animation: textAppear 2s 1s forwards;
  pointer-events: none;
  user-select: none;
  margin-top: 10rem;
}

.about {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  height: 100vh;
}

.about__page-name, .about__page-name::before, .about__page-name::after {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 7rem;
}

.about__page-name {
  opacity: 50%;
  bottom: -2%;
  right: -3%;
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.about__page-name::before, .about__page-name::after {
  content: "about me";
  position: absolute;
}

.about__page-name::before {
  right: -15%;
  bottom: 60%;
  opacity: 25%;
}

.about__page-name::after {
  right: -30%;
  bottom: 120%;
  opacity: 10%;
}

.about__title {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 6rem;
  position: relative;
  display: inline-block;
}

.about__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 10%;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 2s;
}

.about__title--transition::after {
  transform: scaleX(1);
}

section {
  height: 100vh;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: 1%;
  list-style: none;
  text-align: right;
  z-index: 1000;
  height: 75vh;
  opacity: 0;
  animation: menuOnLoad 1s 2s forwards;
}

.nav__border {
  width: 2px;
  height: inherit;
  position: absolute;
  background: white;
  right: 0;
}

.nav:hover .nav__line {
  width: 2rem;
}

.nav:hover p {
  opacity: 1;
}

.nav a {
  text-decoration: none;
}

.nav p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  opacity: 0;
  transition: opacity 0.5s;
  text-shadow: 2px 1px black;
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 7rem;
}

.nav__symbol-container {
  display: flex;
  align-items: center;
}

.nav__item--active .nav__line {
  width: 2rem;
}

.nav__item--active p {
  opacity: 1;
}

.nav__dot {
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid white;
  border-radius: 10px;
}

.nav__line {
  width: 0.5rem;
  height: 2px;
  background: white;
  transition: width 0.5s;
}

.nav__item--active .nav__dot--red {
  background: radial-gradient(circle, red 0%, red 33%, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0) 100%);
}

.nav__item--active .nav__dot--green {
  background: radial-gradient(circle, lime 0%, lime 33%, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0) 100%);
}

.nav__item--active .nav__dot--blue {
  background: radial-gradient(circle, blue 0%, blue 33%, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0) 100%);
}

.nav__item--active .nav__dot--white {
  background: radial-gradient(circle, white 0%, white 33%, rgba(0, 0, 0, 0) 34%, rgba(0, 0, 0, 0) 100%);
}

.next-button {
  position: absolute;
  transform: translate(-50%);
  bottom: 10%;
}

.next-button__triangle--red, .next-button__triangle--blue, .next-button__triangle--green {
  transform: translate(17.5%, 30%);
  opacity: 100%;
  mix-blend-mode: screen;
  transition: transform 0.5s;
}

.next-button:hover .next-button__triangle--red {
  transform: translate(15%, 27.5%);
}

.next-button:hover .next-button__triangle--green {
  transform: translate(20%, 27.5%);
}

.next-button:hover .next-button__triangle--blue {
  transform: translate(17.5%, 32.5%);
}

.next-button:hover::before, .next-button:hover::after {
  opacity: 100%;
}

.next-button::before {
  position: absolute;
  content: "About me";
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid white;
  top: -40px;
  left: 16px;
  opacity: 0;
  transition: opacity 1s;
}

.next-button::after {
  position: absolute;
  content: "";
  width: 1px;
  opacity: 50%;
  background-color: white;
  height: 18px;
  top: -15px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: opacity 1s;
}

.about__next-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.about__picture {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  padding: 5px;
  border: 2px solid white;
}

.about__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about__text {
  font-family: "Roboto", sans-serif;
  font-size: 2.75rem;
  font-weight: 100;
  margin-top: 4rem;
}

.about__text--first {
  max-width: 60%;
}

.about__text--second {
  max-width: 40%;
  margin-bottom: 6rem;
}

.about__text--third {
  position: relative;
  width: 100%;
  margin: 0;
}

.about__text--third:before {
  content: "";
  position: absolute;
  background: white;
  width: 20%;
  height: 2px;
  top: 50%;
  left: 50%;
  transform-origin: 0;
  transform: translateX(-100%) scaleX(0);
  transition: transform 1.5s 1s linear;
}

.about__text--transition:before {
  transform: translateX(-100%) scaleX(1);
}

.about__text--third:after {
  content: "";
  position: absolute;
  background: white;
  width: 2px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: translateX(-100%) scaleY(0);
  transition: transform 0.5s 2.5s ease-out;
}

.about__text--transition:after {
  transform: translateX(-100%) scaleY(1);
}

/*# sourceMappingURL=style.css.map */
