.contact {
  display: flex;
  position: relative;
}

.contact__container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  width: 60%;
  max-height: 58vh;
  justify-content: space-between;
  align-self: center;
}

.contact__page-name, .contact__page-name::before, .contact__page-name::after {
    font-family: $title-font;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 8.75rem;
  }
  
  .contact__page-name {
    opacity: 50%;
    bottom: 0%;
    right: -3%;
    position: absolute;
    @include unclickableText;
  }
  
  .contact__page-name::before, .contact__page-name::after {
    content: 'contact';
    position: absolute;
  }
  
  .contact__page-name::before {
    right: -15%;
    bottom: 60%;
    opacity: 25%;
  }
  
  .contact__page-name::after {
    right: -30%;
    bottom: 120%;
    opacity: 10%;
  }